.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-control {
    border-radius: 5px;
    margin-bottom: 1rem;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group {
    margin-bottom: 2rem;
}

.form-control-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.text-center {
    text-align: center;
}

.btn {
    background-color: #007bff;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: 1rem;
}


.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.p-5 {
    padding: 1rem;
}
